.old-glory-red-bg {
    background-color: rgb(191, 10, 48);
}

.old-glory-red-fg {
    color: rgb(191, 10, 48);
}

.old-glory-blue-bg {
    background-color: rgb(0, 40, 104);
}

.old-glory-blue-fg {
    color: rgb(0, 40, 104);
}

.alice-blue-bg {
    background-color: rgb(248,249,250);
}